.handWriting{
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

@media (min-width: 768px){

    .menu-top  {
        width: 750px;
        margin: auto;
    }

}



#story{
	padding-top: 100px;
	padding-bottom: 50px;

}

#menus{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #f5f5f5;

}

.title-border {
    background: url('../img/title-border.png') no-repeat center top;
    height: 20px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.bg-grey {
    background-color: #f6f6f6;
}

.aboutUs-img{
    margin: 25px 0 25px 0;
}
.description_content {
    padding: 50px 0;
    width: 100%;
    background: #fff;
    margin: 0 auto 0 auto;
    z-index: 99;
    position: relative;
    text-align: center; 
}
.description_body {
    margin: 45px auto;
    max-width: 300px;
}
h1 {
    font-size: 28px;
    font-weight: 900;
    width: 225px;
    letter-spacing: 0.040em;
    border: 1px solid #2f2e2f;
    display: inline-block;
    padding: 7px 16px;
    margin: 0;
}

p.desc-text{
    font-size: 17px;
    line-height: 23px;
    text-align: justify;
}

.img-section-space {
    margin-top: 5px;
}



a.btn-secondary, .btn-secondary {
    background: none;
    border: 2px solid #b98d36;
    color: #b98d36;
}
.btn, a.btn {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    font-weight: bold;
}

.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    padding: 6px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
}

a.btn-secondary:hover, .btn-secondary:hover, a.btn-secondary:active, .btn-secondary:active, a.btn-secondary:focus, .btn-secondary:focus {
    background: #b98d36;
    border: 2px solid #b98d36;
    color: #fff;
    outline: none;
}
.menu-links{
    margin-top: 30px;
}

.list-inline li{
    margin-bottom: 5px;
}

.container-fluid{
    padding: 0;
    margin: 0;
}

.img-margin-bottom{
    margin-bottom: 30px;
}
.recommended{
    margin-top: 80px;
}

.overlay {
 background:transparent; 
 position:relative; 
 width:100%;
 height:480px; /* your iframe height */
 top:480px;  /* your iframe height */
 margin-top:-480px;  /* your iframe height */
}

.opening-hours {
    background: #0C0C0C;
    padding: 16px;

}

.opening-hours .frame {
    border: #fff 2px solid;
    margin-bottom: 0;
    padding: 40px 25px;
}

.opening-hours h2 {
    font-size: 40px;
    color: #fff;
    /*     border-bottom: #fff 1px solid; */
    margin-bottom: 20px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.opening-hours ul li {
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.opening-hours ul p {
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

#contactUs{
    padding: 100px 0;
}

.bg-grey{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f4511e;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

 .navbar {
    margin-bottom: 0;
    background-color: #a2343d;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 1px;
    border-radius: 0;
    font-family: arial;
    text-transform: uppercase;

  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }